.AllDiv {
  width: 300px;
  height: 400px;
  margin: 30px auto;
}
.div1 {
  width: 300px;
  height: 50px;
}
.div1_1 {
  height: 50px;
  width: 80px;
}
.tarix {
  background-color: aqua;
  width: 80px;
  height: 30px;
  color: white;
  text-align: center;
  font: bold 15px tahoma;
}
.saat {
  background-color: blue;
  width: 80px;
  height: 20px;
  color: white;
  text-align: center;
}
.Middle {
  width: 300px;
  height: 100px;
}
.bottom {
  width: 300px;
  height: 57px;
  background-color: aqua;
  text-align: center;
  padding-top: 1px;
  color: blue;
}
.icons {
  width: 320px;
  height: 40px;
}
.icons img {
  width: 30px;
  height: 20px;
  margin: 10px 20px 0 40px;
}
.iconItem {
  width: 30px;
  height: 25px;
  margin: -400px 0 100px 250px;
}
