.AllDiv {
  width: 500px;
  height: auto;

  margin: 30px auto;
}
.logo {
  width: 200px;
  height: 60px;

  float: left;
  background-color: rgb(59, 60, 61);
  padding: 0 0 0 5px;
}
.primaryNav {
  width: 290px;
  height: 60px;

  float: left;
  background-color: gray;
  color: white;
}
.column1 {
  width: 215px;
  height: 255px;

  float: left;
  margin: 25px 0 0 0;
  background-color: rgb(197, 201, 204);
  color: white;
  padding: 5px 0 0 5px;
}
.column2 {
  width: 195px;
  height: 255px;

  float: left;
  margin: 25px 0 0 10px;
  background-color: rgb(197, 201, 204);
  color: white;
  padding: 5px 0 0 5px;
}
.aside {
  width: 53px;
  height: 253px;

  float: left;
  margin: 25px 0 0 4px;
  background-color: gray;

  padding: 7px 0 0 7px;
  color: white;
}
.primaryNav ul li {
  list-style: none;
}
