.top {
  width: 870px;
  height: 81px;
  margin: 10px auto 10px auto;
  padding-top: 19px;
  padding-left: 130px;
  background-color: rgb(243, 241, 241);
}

.text1 {
  text-align: center;
  float: left;
  color: grey;
}
.text2 {
  text-align: center;
  float: left;
  color: black;
  margin: 0 0 4px 0;
}
.text3 {
  text-align: center;
  float: left;
  color: gray;
}
.text4 {
  text-align: center;
  float: left;
  margin: 0 0 0 2px;
}
.bottom {
  width: 1000px;
  height: 166px;
  background-color: white;
  margin: -9px auto 0 auto;
  border: 1px white solid;
}
.bottom_text {
  width: 300px;
  height: 166px;
  color: grey;
  float: left;
  margin: 50px 80px;
}
.bottom_image {
  width: 165px;
  height: 50px;
  margin: -200px 490px;
  float: left;
}

.bottom_icons {
  width: 150px;
  height: 15px;
  margin: 90px 800px;
}
.bottom_icons img {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}
